<% provide(:title, "クック-ウィズとは？") %>
<div id="fh5co-about" class="about-page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <h1 class="about-title">クック-ウィズとは？</h1>
      </div>
      <br>
      <div class="col-md-8 col-md-offset-2">
        <h3 class="about-service">自分で作った料理を投稿して
        共有できるサービスです。</h3>
        <br>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <h2 class="about-main">主な使い方</h2>
      </div>
        <div class="col-md-8 col-md-offset-2">
          <div class="about-explanation">
            <ul>
              <li>料理の投稿</li>
              <p>自分の作った料理の投稿ができます。<br>
              また、その料理を何回作った事があるかメモと共に、記録を残すことが出来ます。
              </p>
              <li>他のユーザーとの共有</li>
              <p>フォロー機能がついており、他のユーザーをフォロー出来ます。<br>
              またそのユーザーの料理に対して、<span>コメント、お気に入り、作る予定リスト</span>へ登録することなどが出来ます。</p>
              <li>検索機能</li>
              <p>材料や料理名を元に検索することが出来ます。</p>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
