<% provide(:title, "クック-ウィズとは？") %>
<div id="fh5co-about">
  <div class="container">
    <h1>クック-ウィズとは？</h1>
    <h3>自分で作った料理を投稿できるサービスです。<br>
    メモを残すこともでき、その時の失敗や成功した点などを振り返ることもできます。フォロー機能もついており、他のユーザーとフォローし合えば相手の作った料理をお気に入りに登録やコメントなどができます。また『作る予定リスト』へ登録しておけば作りたい時にすぐに見つけられます。</h3>
  </div>
</div>
