<% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3>みんなの料理 (<%= @feed_items.count %>)</h3>
        <%= render 'shared/feed' %>
      </div>
      <div class="col-md-3">
        <p><%= link_to "新しい料理を作る", new_dish_path, class: "btn btn-primary btn-lg btn-record" %></p>
  	  </div>
    </div>
  </div>
<% else %>
  <center>
    <h1>クック-ウィズへようこそ！</h1>
    <h2>『今日何作ろう？』こんなお悩みありませんか？<br>
        このアプリではそんなお悩みがすぐに解決しちゃうかも！？</h2>
    <h3>ぜひお試しあれ！</h3>
  </center>
<% end %>
