<div id="list-<%= @dish.id %>" class="list-button">
  <% if !current_user.nil? && current_user.list?(@dish) %>
    <%= render 'users/unlist' %>
  <% else %>
    <%= render 'users/list' %>
  <% end %>
</div>
