<% provide(:title, "料理一覧") %>
<div id="fh5co-portfolio">
  <div class="container">
    <% if @search_word.present? %>
      <h3>”<%= @search_word %>”の検索結果：<%= @dishes.count %>件</h3>
    <% else %>
      <h1>料理一覧</h1>
    <% end %>
    <ul class="dishes">
      <%= render @dishes %>
    </ul>
    <%= will_paginate %>
  </div>
</div>
