<% provide(:title, "料理の登録") %>
<div id="fh5co-portfolio">
  <div class="container">
    <h1>料理の登録</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= render 'dishes/dish_form' %>
      </div>
    </div>
  </div>
</div>
