
// ミックスイン
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
 #error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

//// トップページ（ログイン前） ////
.recruit-login {
  background-color: #FFFAF0;
  margin-bottom: 30px;
  padding: 20px;
  border: solid 3px #000000;
}

.title-form {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.description-form {
  margin-bottom: 20px;
}

.recruit-account {
  margin-top: 20px;
}

.checkbox {
 margin-top: -10px;
 margin-bottom: 10px;
 span {
   margin-left: 20px;
   font-weight: normal;
 }
}
 #session_remember_me {
 width: auto;
 margin-left: 0;
}

//// プロフィールページ ////
.title-profile {
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.user-picture img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.user-picture-box {
  margin-top: 0.5em;
  margin-left: 1em;
}

.show-user-name {
  display: inline-block;
}

.account-edit {
  margin-top: 20px;
}

.account-delete {
  margin-top: 20px;
}

//// ユーザー一覧ページ ////
.users {
 list-style: none;
 margin: 0;
 li {
   overflow: auto;
   padding: 10px 0;
   border-bottom: 1px solid $gray-lighter;
 }
}

/* 料理(Dish) */
.dishes {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
 }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .description {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

//// 料理登録ページ ////
.input-need {
  color: red;
  font-size: 13px;
}

.input-unneed {
  font-size: 13px;
}

// 料理一覧
.dish-user {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 10px;
}

h3.dish-name {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}

.dish-description {
  margin-top: 10px;
}

//// 料理個別ページ ////
.dish-user-name {
  display: inline-block;
}

h2.dish-name {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.dish-reference {
  margin-top: 30px;
}

.dish-portion {
  margin-top: 30px;
}

.tips {
  margin-top: 30px;
  margin-bottom: 30px;
  h5 {
    font-size: 17px;
  }
}

.title-tips {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.show-dish-other-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.dish-other-info {
  margin-top: 10px;
  margin-bottom: 20px;
}

.dish-info {
  h5 {
    font-size: 16px;
    display: inline-block;
  }
  h4 {
    font-size: 20px;
    display: inline-block;
  }
}

.change-dish {
  display: inline-block;
}

.edit-dish .delete-dish {
  font-size: 15px;
}

.dish-picture img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

// コメント //
.title-comment {
  font-weight: bold;
  font-size: 17px;
}

.comments {
  list-style: none;
  li {
    font-size: 14px;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    .comment {
      font-size: 16px;
    }
  }
}

.comment-create-at {
  color: grey;
}

// ログ //
.title-log {
  font-weight: bold;
  font-size: 17px;
}

.dish-created-at {
  color: grey;
}

.logs {
  list-style: none;
  li {
    font-size: 16px;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    .delete {
      font-size: 14px;
    }
  }
}

.add-cooklog {
 font-weight: bold;
}

// フォロー、フォロワー数表示部
.stats {
  margin: 5px 0;
}

// お気に入り
.like-btn-unlike {
  color: red;
  font-weight: bolder;
}
.like-btn-like {
  color: grey;
}

a.like, a.unlike {
  text-decoration: none;
}

.favorites {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.cook-user {
 margin-bottom: 20px;
}

////通知 ////
// 新しい通知があるときは赤文字にする
li.new_notification > a > span {
  color: red;
}

.notifications {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .gravatar {
    margin-right: 10px;
    margin-top: -5px;
  }
}

.notification-message {
  font-size: 16px;
}

//// リスト ////
.list-btn-unlist {
  color: forestgreen;
  margin: 10px 0;
  font-weight: bolder;
}

.list-btn-list {
  color: grey;
  margin: 10px 0;
}

a.list, a.unlist {
  text-decoration: none;
}

.lists {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.list-message {
  font-size: 16px;
}

.list-dish-description {
  margin-bottom: 20px;
}

.list-button {
 margin-bottom: 20px;
}

//// ページボディ部 ////
#fh5co-about {
  padding: 0;
  text-align: center;
  h1 {
    font-weight: 900;
  }
}

#fh5co-wireframe {
  padding-top: 7em;
  padding-bottom: 0;
}

#fh5co-portfolio {
  padding: 0;
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  h3 {
    text-align: left;
  }
}

#logo {
  img {
   max-width: 120%;
   height: auto;
   box-sizing: border-box;
 }
}

// スマホ用：ヘッダーメニューが横棒三本になるところを境にロゴを拡大
@media screen and (max-width: 768px) {
  #logo {
    img {
      max-width: 400%;
      height: auto;
      box-sizing: border-box;
    }
  }
}

// スマホ閲覧時、横棒三本をページ上部に固定
.fh5co-nav-toggle {
  position: fixed;
}

//// ヘッダー ////
.menu-1 a:hover {
  text-decoration: none;
  text-decoration-width: 1px;
}

// 上下幅
.fh5co-nav .top-menu {
  padding: 18px 0;
}

// ロゴの上下位置調整
.fh5co-nav #fh5co-logo {
  font-size: 0px;
}

//// フッター ////
#fh5co-footer {
  margin-top: 3em;
  padding: 1em 0;
  border-top: 1px solid #eaeaea;
}

//// 「新しい料理を作る」ボタン ////
.btn-record {
  margin-top: 3em;
  color: black;
  background-color: peachpuff;
  border-color: peachpuff;
}

// 「CSV出力」ボタン //
.btn-csv {
  color: black;
  background-color: lightpink;
  border-color: lightpink;
}

.btn-mini {
  color: #fff;
  background-color: #f57a00;
  border-color: #f57a00;
  &:hover, &:focus, &:active {
  color: #fff;
	background: lighten(#f57a00, 15%)!important;
	border-color: lighten(#f57a00, 15%)!important;
  }
}

//// 材料 ////
.title-ingredient-name, .title-ingredient-quantity {
  font-weight: bold;
}

.ingredients {
  margin-top: 30px;
  margin-bottom: 30px;
  h5 {
    font-size: 17px;
  }
}

.title-ingredients {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

table.ingredient {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table.ingredient th, table.ingredient td {
  padding: 10px 0;
  text-align: center;
}

table.ingredient tr:nth-child(odd) {
  background-color: #eee
}

.dish-ingredient {
  margin: 15px 0;
}

.title-ingredient-mini {
  font-weight: bold;
  margin-bottom: 5px;
}
